Inteligencia Artificial/Demo_Chat_MCP.json
{
  "name": "Demo Chat MCP",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        700,
        -60
      ],
      "id": "69f0bff2-45e0-4414-905f-1d18debd9cd4",
      "name": "When chat message received",
      "webhookId": "c3b916e7-6881-4899-8e16-431bf962fcac"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a023b03-a15e-4a0a-8665-1f854fb8c0df",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "00770ab3-aab0-4aa3-9c74-029b44f9f112",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "e9a426b3-75d1-46dc-a2a7-a84d749f5128",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        -60
      ],
      "id": "b8270146-c7db-4630-8e16-6ca059109eed",
      "name": "Variables"
    },
    {
      "parameters": {
        "sseEndpoint": "https://dominio.tld/mcp/id/sse",
        "authentication": "bearerAuth"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1840,
        160
      ],
      "id": "a5382a43-6f5d-4c52-929e-cb124a99d7aa",
      "name": "gMail - MCP",
      "credentials": {
        "httpBearerAuth": {
          "id": "u0LXEkvb6HaHfXIB",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres una asistente virtual personal creada para acompañar, registrar y organizar la vida y decisiones de tu usuario. \n\n\nNota contextual:\nLa fecha es {{ $now.toLocal().setLocale('es').format('dd LLLL yyyy') }} y la hora actual {{ $now.toLocal().setLocale('es').format('HH:MM') }} \n\n",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1320,
        -60
      ],
      "id": "97dec404-2c41-4742-89e3-350afc32f4e2",
      "name": "Chat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1160,
        200
      ],
      "id": "cdc209f3-c9c8-4bc8-8407-31f0bcfda7b7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "id23145",
          "name": "OpenAi Acc"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1640,
        220
      ],
      "id": "39b912fc-69f1-4197-9347-8f232430ef2c",
      "name": "Think"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "tableName": "n8n_pruebas_chat_histories",
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1400,
        140
      ],
      "id": "0cabc13a-7874-4ae9-ab6f-140186d2749c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "jdkas",
          "name": "PG - ACT"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gMail - MCP": {
      "ai_tool": [
        [
          {
            "node": "Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chat",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Chat",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ae28775-ebc0-49af-aa81-2ec39bc120ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "765ef08021c2400ed39c53b2387d4fb54424fcfb0e699e573bd8699c91494a1f"
  },
  "id": "R8sw1V0Y3o7s0S0O",
  "tags": []
}
